body{
    background: linear-gradient(to bottom, #000046, #2c17a3, #000046);
    min-height: 95vh;
    color: white;
    font-family: Jost, sans-serif;
    display: flex;
    justify-content: center;
}
p{
    color: white;
    text-decoration: none;
}
.container{
    border: solid 1px white;
    margin: 5px 5px 70px 5px;
}
.navbar{
    background-color: rgb(30, 30, 30);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.navbar img{
    height: 40px;
    width: 40px;
}
.navbar p{
    display: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: x-large;
}
.navbar a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 1024px){
    .container{
        width: 60%;
        margin: 70px 5px 5px 5px;
    }
    .navbar{
        top: 0px;
        height: 40px;
        background-color: transparent;
    }
    .navbar p{
        display: block;
    }
}